body {
    font-family: sans-serif;
    background-color: #eee;
    margin: 40px;
}

a {
  color: #4257cc;
}

button {
  background-color: white;
  border: 1px solid #999;
  border-radius: 4px;
}

.ShoutOutPost {
  background-color: white;
  border: 1px solid #aaa;
  margin: 20px 0;
  max-width: 500px;
  padding: 10px;
}

h2 {
  font-size: 1.25em;
  margin-top: 0;
  margin-bottom: 4px;
}

h3 {
  font-size: 1em;
  font-weight: normal;
  color: darkgray;
  margin-top: 0;
}

.shoutOutImage {
  width: 200px;
}

button:active {
  background-color: darkmagenta;
  color: #aaa;
  border: none;
}

button:disabled {
  background-color: darkgray;
  color: gray;
}

.Likes {
  width:fit-content;
}

.likeList {
  position: relative;
  bottom: 18px;
  left: 60px;
  display: flex;
  padding: 0;
  margin: 0
  
}

li {
    padding-right: 25px;
    font-size: .8em;
    color: darkgray
}







