body {
    font-family: sans-serif;
    background-color: #eee;
}

a {
  color: #4257cc;
}

button {
  background-color: white;
  border: 1px solid #999
}

.ShoutOutPost {
  background-color: white;
  border: 1px solid #aaa
}







